<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>BlueSkies Application</display-name>
  <welcome-file-list>
    <welcome-file>FindHospitals.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FindHospitals</servlet-name>
    <servlet-class>servlet.FindHospitals</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindHospitals</servlet-name>
    <url-pattern>/FindHospitals</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>HospitalCreate</servlet-name>
    <servlet-class>servlet.HospitalCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalCreate</servlet-name>
    <url-pattern>/HospitalCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HospitalDelete</servlet-name>
    <servlet-class>servlet.HospitalDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalDelete</servlet-name>
    <url-pattern>/HospitalDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HospitalUpdate</servlet-name>
    <servlet-class>servlet.HospitalUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalUpdate</servlet-name>
    <url-pattern>/HospitalUpdate</url-pattern>
  </servlet-mapping>
</web-app>